<template>
  <v-container
    v-if="isContainerEnabled"
    class="contList px-8"
  >
    <router-view />
    <portal to="content-before">
      <OrsInnerToolbar
        title="Minhas solicitações"
        title-icon="mdi-alert-circle"
      >
        <v-btn
          color="primary"
          elevation="0"
          @click="$router.push({name: 'ContactsAdd'})"
        >
          Adicionar Solicitação
        </v-btn>
      </OrsInnerToolbar>
    </portal>
    <!--
    <v-row v-if="contacts">
      <v-col
        cols="12"
        md="6"
        offset-md="3"
      >
        <v-text-field
          color="primary"
          prepend-inner-icon="mdi-magnify"
          outlined
          placeholder="Buscar solicitação"
          @input="onContactSearch"
        />
      </v-col>
    </v-row>
    -->
    <v-row>
      <v-col
        cols="12"
        md="6"
        offset-md="3"
      >
        <v-select
          v-model="contactType"
          :items="[{label: 'Reclamação', value: 'rec'}, {label: 'Solicitação', value: 'sol'}]"
          :item-text="item => item.label"
          :item-value="item => item.value"
          label="Tipo de contato"
          placeholder="Filtrar por tipo de contato"
          clearable
        />
      </v-col>
    </v-row>
    <h2 class="primary--text mb-0">
      Registro de solicitação
    </h2>
    <OrsTimeline
      v-if="searchResult && searchResult.length > 0"
      :dense="$vuetify.breakpoint.smAndDown"
    >
      <OrsTimelineItem
        v-for="contact in searchResult"
        :key="contact.codigoTarefa"
        :title="getContactTitle(contact)"
        :status="getContactStatus(contact)"
        :color="getContactColor(contact)"
      >
        <template #default="color">
          <OrsContactSol
            v-if="contact.type==='sol'"
            :contact="contact"
            :color="color"
            :show-description="visibleDescription === contact"
          />
          <OrsContactRec
            v-else
            :contact="contact"
            :color="color"
            :show-description="visibleDescription === contact"
          />
        </template>
        <template #footer="color">
          <v-btn
            v-if="visibleDescription !== contact"
            text
            :color="color"
            @click="visibleDescription = contact"
          >
            Ver mais
          </v-btn>
          <v-btn
            v-if="visibleDescription === contact && contact.type === 'sol'"
            text
            :color="color"
            :to="{name: 'ContactsView', params: {id: contact.codigoTarefa}}"
          >
            Ver histórico
          </v-btn>
        </template>
      </OrsTimelineItem>
    </OrsTimeline>
    <v-row
      v-else
      justify="center"
      class="mt-8"
    >
      <h3 v-if="searchResult">
        Nenhuma solicitação encontrada
      </h3>
      <v-progress-circular
        v-else
        indeterminate
      />
    </v-row>
  </v-container>
  <router-view v-else />
</template>

<script>
import { createNamespacedHelpers } from 'vuex';
import OrsInnerToolbar from '../components/OrsInnerToolbar.vue';
import OrsTimeline from '../components/OrsTimeline.vue';
import OrsTimelineItem from '../components/OrsTimelineItem.vue';
import OrsContactSol from '../components/OrsContactSol.vue';
import OrsContactRec from '../components/OrsContactRec.vue';
import debounce from '../lib/debounce';

const contactsList = createNamespacedHelpers('views/contactsList');
const session = createNamespacedHelpers('session');

export default {
  name: 'ContactsList',
  components: {
    OrsInnerToolbar,
    OrsTimeline,
    OrsTimelineItem,
    OrsContactSol,
    OrsContactRec,
  },
  data: () => ({
    visibleDescription: null,
    contactType: null,
  }),
  computed: {
    ...contactsList.mapState([
      'contacts',
      'searchResult',
    ]),
    ...contactsList.mapGetters([
      'contactTypes',
    ]),
    isContainerEnabled() {
      const map = {
        ContactsList: true,
        ContactsAdd: true,
        ContactsView: false,
      };
      return map[this.$route.name];
    },
  },
  watch: {
    contactType(typeId) {
      this.filterContacts(typeId);
    },
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.loadContacts();
      vm.addAccountChangeListener(vm.loadContacts);
    });
  },
  beforeRouteLeave(to, from, next) {
    this.removeAccountChangeListener(this.loadContacts);
    next();
  },
  methods: {
    ...contactsList.mapActions([
      'loadContacts',
      'filterContacts',
      'searchContact',
    ]),
    ...session.mapMutations([
      'addAccountChangeListener',
      'removeAccountChangeListener',
    ]),
    getContactTitle(contact) {
      const contactCats = this.contactTypes.find(
        c => c.value === contact.neoid,
      );
      const prepend = contact.type === 'sol' ? 'Solicitação' : 'Reclamação';
      const append = contactCats ? contactCats.label : 'Outros';
      return `${prepend} ${contact.codigoTarefa} (${append})`;
    },
    getContactStatus(contact) {
      const map = {
        running: 'Em Execução',
        finished: 'Finalizado',
      };
      return map[contact.situacao] || contact.situacao;
    },
    getContactColor(contact) {
      const { satisfacao } = contact;
      const map = {
        Satisfeito: 'teal',
        Insatisfeito: 'red',
        'Sem Contato': 'orange',
        'Sem contato': 'orange',
      };
      return satisfacao ? map[satisfacao] : 'primary';
    },
    onContactSearch: debounce(
      contactsList.mapActions(['searchContact']).searchContact,
      300,
    ),
  },
};
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-162326890-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-162326890-1');
</script>

<style lang="stylus" scoped>
.contList-content-head-title {
  text-align: center;
}
</style>
